<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/stylesheets/stud_profile.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Prompt:ital,wght@1,500&display=swap" 
        rel="stylesheet">
        <title>Hello, world!</title>
    </head>
    <body>
        <nav class="navbar navbar-dark" style="background-color: #3f3d56;">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1 nav-text">
                    <a href="/">fileShare</a>
                </span>
            </div>
            <a class="btn btn-primary logout" href="/logout">Logout</a>
        </nav>

        <% if(messages.success){ %>
            <div class="alert alert-success" role="alert">
                <%= messages.success %>
            </div>
        <% } %>
    
        <% if(messages.error){ %>
            <div class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
        <% } %>

        <article class="container my-t-4">
            <section class="row" style="display: flex; flex-wrap:wrap">
                <section class="col-xl-6 col-lg-6 col-md-6 info">
                    <h3>
                        Student Information
                    </h3>
                    <div class="image">
                        <img src="/images/default.jpg" alt="profile image" class="profile-pic">
                    </div>
                    <div class="field">
                        <span class="field-name">Name:</span>
                        <span class="field-value"><%= student.name %></span>
                    </div>
                    <div class="field">
                        <span class="field-name">Email:</span>
                        <span class="field-value"><%= student.email %></span>
                    </div>
                    <div class="field">
                        <span class="field-name">University:</span>
                        <span class="field-value"><%= student.university %></span>
                    </div>
                    <div class="field">
                        <span class="field-name">Faculty:</span>
                        <span class="field-value"><%= student.faculty %></span>
                    </div>
                    <div class="field">
                        <span class="field-name">College Duration</span>
                        <span class="field-value"><%= student.collegeStart %>-<%= student.collegeEnd %></span>
                    </div>
                </section>
                <section class="col-xl-6 col-lg-6 col-md-6 list">
                    <h3>Subscribed Professors</h3>
                    
                    <ul class="list-group prof-list">
                        <% professors.forEach(function(professor){ %>
                            <li class="list-group-item">
                                <%= professor.name %> <span>
                                    <a href="/prof/<%= professor._id %>"><i class="bi bi-box-arrow-up-right"></i></a>
                                </span>
                            </li>
                        <% }) %>
                        <!-- <li class="list-group-item">Professor Name</li>
                        <li class="list-group-item">Professor Name</li>
                        <li class="list-group-item">Professor Name</li>
                        <li class="list-group-item">Professor Name</li>
                        <li class="list-group-item">Professor Name</li> -->
                      </ul>
                </section>
            </section>
        </article>

    
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>